<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HSWC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">HSWC Status</a>
        </div>
      </div>
    </div>

    <div class="container">

      <h3>WC Sensor Status</h3>

      <table class="table">
		<thead><tr><th>Sensor</th><th>Status</th><th>Updated</th></tr></thead>
		<tbody>
    {% if sensors %}
		  {% for sensor in sensors %}
			 <tr>
			 <td>{{ sensor }}</td>
       {% if sensors[sensor].get('status',) == "0" %}
        <td><span class="label label-success">Vacant</span></td>
        {% elif sensors[sensor].get('status',) == "1" %}
        <td><span class="label label-important">Occupied</span></td>
        {% else %}
        <td><span class="label label-warning">Unknown</span></td>
        {% endif %}
			 <td>{{ time - sensors[sensor].get('updated', 0) }} secs ago</td>
			 </tr>
       {% endfor %}
		{% else %}
			<tr class="error">
			<td>No sensors found</td>
			<td>NA</td>
			<td>NA</td>
			</tr>
    {% endif %}
		</tbody>
      </table>

    </div> <!-- /container -->

  </body>